@font-face{

    font-family: 'MontserratRegular';
    src: url("../fonts/montserrat-regular.eot");

    src: url("../fonts/montserrat-regular.eot?#iefix") format('embedded-opentype'),
        url("../fonts/montserrat-regular.woff") format('woff'),
        url("../fonts/montserrat-regular.ttf") format('truetype');

    font-weight: 400;
    font-style: normal;
    
}

@font-face{

    font-family: 'MontserratLight';
    src: url("../fonts/montserrat-light.eot");

    src: url("../fonts/montserrat-light.eot?#iefix") format('embedded-opentype'),
        url("../fonts/montserrat-light.woff") format('woff'),
        url("../fonts/montserrat-light.ttf") format('truetype');

    font-weight: 300;
    font-style: normal;
    
}

@font-face{

    font-family: 'MontserratSemibold';
    src: url("../fonts/montserrat-Semibold.eot");

    src: url("../fonts/montserrat-Semibold.eot?#iefix") format('embedded-opentype'),
        url("../fonts/montserrat-Semibold.woff") format('woff'),
        url("../fonts/montserrat-Semibold.ttf") format('truetype');

    font-weight: 600;
    font-style: normal;
    
}

@font-face{

    font-family: 'MontserratMedium';
    src: url("../fonts/montserrat-Medium.eot");

    src: url("../fonts/montserrat-Medium.eot?#iefix") format('embedded-opentype'),
        url("../fonts/montserrat-Medium.woff") format('woff'),
        url("../fonts/montserrat-Medium.ttf") format('truetype');

    font-weight: 500;
    font-style: normal;
    
}

@font-face{
 
    font-family: 'GothamPro';
    src: url("../fonts/GothamPro.eot");
    
    src: url("../fonts/GothamPro.eot?#iefix") format('embedded-opentype'),
        url("../fonts/GothamPro.woff") format('woff'),
        url("../fonts/GothamPro.ttf") format('truetype');

    font-weight: normal;
    font-style: normal;
    
}

    

