$font-size-main: 14px;
$font-size-lower: 13px;
$font-size-higer: 18px;
$font-size-header: 36px;
$font-size-news-card-header: 22px;
$font-size-btn: 18px;
$font-size-page-header-desc: 24px;
$font-size-header: 36px;
$font-size-logo-header: 28px;
$font-size-logo-tagline: 16px;
$font-size-certifications-link: 12px;
$font-size-recipe-header: 16px;
$font-size-page-footer-logo-header: 20px;
$font-size-page-footer-logo-tagline: 14px;


$bg-color-block: #EDF8FF;
$bg-color-btn: #00519C;
$bg-color-btn-hover: #004280;
$bg-color-btn-active: #003566;

$font-color-second: #00519C;
$font-color-main: #000000;
$font-color-btn: #000000;
$font-color-bro: #000000;

$link-color-hover: #004280;
$link-color-active: #003566;
$link-color-visited: #00519C;

$width-content-desktop: 1280px;