.markets {
    margin-bottom: 40px;
}

.markets__center-wrapper {
    width: $width-content-desktop;
    margin: 0 auto;
    padding: 75px 70px 35px;
    display: flex;
    flex-direction: column;
}

.markets__header {
    @include fontBlockHeader;

    line-height: 44px;
    margin: 0;
    margin-bottom: 30px;
    align-self: center;
}

.markets__content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.markets__img {
    width: 518px;
    height: 371px;
}

.markets__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 585px;
}

.markets__text {
    @include fontMain($font-size-main);

    line-height: 24px;
    margin: 0;
}